* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  background-image: linear-gradient(to top, #ff766f 0%, #ffae4a 100%);
}

@media all and (max-width: 800px) {
  .hide-on-small-screen {
    display: none;
  }
}